# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# CDK
backend/cdk.out/
backend/*.d.ts
backend/*.js

# Keys & Secrets
keys/private_key.pem
*.pem
.env
.env.*
!.env.example

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
